<div class="container my-5">
    <h1 class="mb-3">Edit Employee</h1>
    <form #form="ngForm" (ngSubmit)="updateEmployee()"> 
        <div class="row">
            <div class="col-12">
                <div class="mb-3">
                    <label for="id" class="form-label">ID</label>
                    <input type="text" class="form-control" id="id" readonly
                    name="id" [(ngModel)]="employeeDetails.id">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">     
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" id="name"
                    name="name" [(ngModel)]="employeeDetails.name">
                </div>
            </div>
            <div class="col-6">     
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="text" class="form-control" id="email"
                    name="email" [(ngModel)]="employeeDetails.email">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">     
                <div class="mb-3"> 
                    <label for="phone" class="form-label">Phone No</label>
                    <input type="text" class="form-control" id="phone"
                    name="phone" [(ngModel)]="employeeDetails.phone">
                </div>
            </div>
            <div class="col-6">     
                <div class="mb-3">
                    <label for="department" class="form-label">Department</label>
                    <input type="text" class="form-control" id="department"
                    name="department" [(ngModel)]="employeeDetails.department">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">     
                <div class="mb-3">
                    <label for="salary" class="form-label">Salary</label>
                    <input type="number" class="form-control" id="salary"
                    name="salary" [(ngModel)]="employeeDetails.salary">
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary mr-6">Save</button>
        <button type="button" class="btn btn-danger" (click)="deleteEmployee(employeeDetails.id)">Delete</button>
    </form>
</div>
