
<div class="container1">
    <div class="card text-center">
        <div class="card-header">
          Greetings!
        </div>
        <div class="card-body ">
          <h5 class="card-title">Welcome to EmployeeManagement UI</h5>
          <p class="card-text">Your trusted Employee Management tool</p>
          <a class="btn btn-primary" routerLink="employees">Explore Employees List</a>
        </div>
        <div class="card-footer text-muted">
          Last Update: 2 seconds ago
        </div>
    </div>
</div>

<router-outlet></router-outlet>