<div class="container my-5">
    <h1 class="mb-3">Employees</h1>
    <table class="table" *ngIf="employees && employees.length > 0">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Salary</th>
                <th>Department</th>
                <th>Extra</th>
            </tr>
        </thead>
        <tbody>
            <!-- Iterate over the list of employees one by one and hold a single employee object at a time -->
            <tr *ngFor="let employee of employees">
                <td>{{ employee.id }}</td>
                <td>{{ employee.name }}</td>
                <td>{{ employee.email }}</td>
                <td>{{ employee.phone }}</td>
                <td>{{ employee.salary }}</td>
                <td>{{ employee.department }}</td>
                <td><a [routerLink]="['/employees', 'edit', employee.id]">View</a></td>
            </tr>
        </tbody>
    </table>
    <h2 *ngIf="!employees || employees.length <= 0"> 
        No Employee Found!
    </h2>
</div>